---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<article class="post-article">
  <div class="container" style="margin-top: 10rem;">
    <div class="post-content">
      <header class="post-header">
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date }}">
          <small>
            <strong>{{ page.date | date_to_string }}</strong>
            {% if author %}
            by {{ author.name }}
            {% endif %}
          </small>
        </time>
      </header>

      {% include page-intro.html %}

      <div class="post-body">
        {{ content }}
      </div>

      <nav class="post-navigation" aria-label="Adjacent Posts">
        <ul>
          {% if page.previous.url %}
          <li>
            <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
          </li>
          {% endif %}
          {% if page.next.url %}
          <li>
            <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</article>
